server:
  port: 8099

spring:
  application:
    name: family-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: false
      routes:
        # 所有API都路由到统一的服务
        - id: family-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/**

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
