server:
  port: 8086

spring:
  main:
    allow-bean-definition-overriding: true
  autoconfigure:
    exclude:
      - org.redisson.spring.starter.RedissonAutoConfigurationV2
  application:
    name: recipe-service
  datasource:
    url: jdbc:mysql://localhost:3306/family_app?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: your_secure_mysql_password
    driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    host: localhost
    port: 6379
    password:
    database: 0
  redisson:
    password:

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: auto

sa-token:
  token-name: Authorization
  timeout: 86400

logging:
  level:
    com.family.recipe: debug
