MYSQL_URL=jdbc:mysql://localhost:3306/family_app?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
MYSQL_USERNAME=root
MYSQL_PASSWORD=change_me
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
APP_BASE_URL=https://36.151.150.188:8443
APP_PUBLIC_ORIGIN=https://36.151.150.188:8443
APP_CORS_ALLOWED_ORIGINS=https://36.151.150.188:8443,https://www.520xz.cn,https://520xz.cn
SERVER_SSL_ENABLED=true
SSL_KEY_STORE=file:/opt/family-app/520xz.cn.p12
SSL_KEY_STORE_PASSWORD=change_me
SSL_KEY_STORE_TYPE=PKCS12
SSL_KEY_ALIAS=1
SA_TOKEN_JWT_SECRET_KEY=change_me
SA_TOKEN_IS_LOG=false
SPRING_PROFILES_ACTIVE=prod,ssl
